.cards-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    height: 100px;
    width: 300px;
    border: 5px solid #cccccc;
    border-radius: 12px;
}

.flex-center-text-container {
    justify-content: space-around;
    width: 80%;
}

.middle-cards-container {}

.players-pictures-container {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: inherit;
    width: 310px;
    text-align: center;
}

.player-pictures {
    width: 300px;
    height: 300px;
    border: 5px solid #cccccc;
    border-radius: 12px;

}