<div class="flex-center-text-container">
    <!-- Players picture container -->
    <div class="players-pictures-container">
        <div style="text-align: center;">
            <img class="player-pictures" src="../../../assets/game2/babuska2.jpg">
            <label>Бабушка!</label>
        </div>
        <div style="text-align: center;">
            <img class="player-pictures" src="../../../assets/game2/cat.jpg">
            <label>You!</label>
        </div>
    </div>

    <!------------------------------------------------------------------------->
    <div class="cards-container">
        <!-- babuska closed cards -->
        <div class="babuska-closed-cards" (click)="cardIsClicked('babuska-closed-cards', babuskaClosedCards[babuskaClosedCards.length-1].id)">
            <app-card [card]="babuskaClosedCards[0]"></app-card>
        </div>
        <!-- babuska opened cards -->
        <div class="babuska-open-cards" (click)="cardIsClicked('babuska-open-cards', babuskaOpenCards[babuskaOpenCards.length-1].id)">
            <ng-container *ngIf="babuskaOpenCards.length > 0">
                <app-card [card]="babuskaOpenCards[babuskaOpenCards.length-1]"></app-card>
            </ng-container>
            <ng-container *ngIf="babuskaOpenCards.length === 0">
                <app-card [card]="placeHolderCard"></app-card>
            </ng-container>
        </div>
        <!-- player opened cards -->
        <div class="player-open-cards" (click)="cardIsClicked('player-open-cards', playerOpenCards[playerOpenCards.length-1].id)">
            <ng-container *ngIf="playerOpenCards.length > 0">
                <app-card [card]="playerOpenCards[playerOpenCards.length-1]"></app-card>
            </ng-container>
            <ng-container *ngIf="playerOpenCards.length === 0">
                <app-card [card]="placeHolderCard"></app-card>
            </ng-container>
        </div>

        <!-- player closed cards -->
        <div class="player-closed-cards" (click)="cardIsClicked('player-closed-cards', playerClosedCards[0].id)" id="player-closed-card">
            <app-card [card]="playerClosedCards[0]"></app-card>
        </div>
    </div>

    <!-- middle cards container -->
    <div class="middle-cards-container">
        <div class="middle-cards" (click)="cardIsClicked('middle-cards', middleCards[middleCards.length-1].id)">
            <ng-container *ngIf="middleCards.length > 0">
                <app-card [card]="middleCards[middleCards.length-1]"></app-card>
            </ng-container>
            <ng-container *ngIf="middleCards.length === 0">
                <app-card [card]="placeHolderCard"></app-card>
            </ng-container>
        </div>
    </div>
</div>