<div class="flex-center-text-container">
    <div class="players-pictures-container">
        <div style="text-align: center;">
            <img class="player-pictures" src="../../../assets/game2/babuska2.jpg">
            <label>Бабушка!</label>
        </div>
        <div style="text-align: center;">
            <img class="player-pictures" src="../../../assets/game2/cat.jpg">
            <label>You!</label>
        </div>
    </div>
    <div class="cards-container">
        <div class="babuska-closed-cards" (click)="babuskaClosedCardClick()">
            <app-card [value]="closedCardValue" [url]="grayCardUrl">
            </app-card>
        </div>
        <div class="babuska-open-cards">
            <ng-container *ngIf="babuskaOpenCards.length > 0">
                <app-card [value]="babuskaOpenCards[25-babuskaClosedCards.length].value"
                    [url]="babuskaOpenCards[25-babuskaClosedCards.length].pictureUrl">
                </app-card>
            </ng-container>
        </div>
        <div class="player-open-cards">
            <ng-container *ngIf="playerOpenCards.length > 0">
                <app-card [value]="playerOpenCards[25-playerClosedCards.length].value"
                    [url]="playerOpenCards[25-playerClosedCards.length].pictureUrl">
                </app-card>
            </ng-container>
        </div>
        <div class="player-closed-cards" (click)="playerClosedCardClick()">
            <app-card [value]="closedCardValue" [url]="redCardUrl">
            </app-card>
        </div>
    </div>
    <div class="middle-cards-container">
        <div class="middle-cards">
            <app-card [value]="playerClosedCards[0].value" [url]="playerClosedCards[0].pictureUrl"></app-card>
            <ng-container *ngIf="middleCards.length > 0">
                <app-card [value]="middleCards[0].value" [url]="middleCards[0].pictureUrl">
                </app-card>
            </ng-container>
        </div>
    </div>
</div>