.bg-image {
    background-image: url("../../../assets/game1/you_died.jpg");
    background-color: #cccccc;
    height: 80vh;
    width: 66%;
    border: 5px solid #cccccc;
    border-radius: 12px;
    background-repeat: no-repeat;
}

.flex-center-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}