/* You can add global styles to this file, and also import other style files */

.flex-center-text-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.direction-column {
  flex-direction: column;
}

@font-face {
  font-family: "OldLondon";
  src: local("OldLondon"), url(./assets/fonts/OldLondon.ttf) format("truetype");
}

@font-face {
  font-family: "LongShot";
  src: local("LongShot"), url(./assets/fonts/Long_Shot.ttf) format("truetype");
}