.bg-image {
    background-image: url("../../assets/home/bg-image.jpg");
    background-color: #cccccc;
    height: 97vh;
    border: 5px solid #cccccc;
    border-radius: 12px;
    justify-content: end;
}

.quest-background-image-container {
    background-image: url("../../assets/home/questText.jpg");
    background-color: #cccccc;
    height: 537px;
    width: 421px;
    z-index: 3;
    margin-left: 35px;
    display: flex;
    align-items: flex-end;
    border: 1px solid #cccccc;
    border-radius: 12px;
}

.accept {
    width: 100px;
    height: 30px;
}
.dont-click-everywhere{
    width: 212px;
    height: 30px;
}
.decline {
    width: 100px;
    height: 30px;
}